.hero_section {
  background: url("../assets//overlay_1.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.hero_flex {
  background: linear-gradient(rgba(22, 28, 36, 0.8), rgba(22, 28, 36, 0.8));
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.hero_details {
  margin-top: 8rem;
  margin-left: 10rem;
}

.hero_title {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 900;
}

.hero_png {
  width: 55rem;
  margin-top: -5rem;
  object-fit: cover;
}

.hero_title_logo {
  color: #fa541c;
  letter-spacing: 0.5px;
  font-size: 5rem;
}

.hero_title_par {
  color: #919eab;
  padding-top: 2rem;
  font-size: 1.2rem;
}

.hero_available {
  font-size: 0.8rem;
  color: #fff;
  padding-top: 2rem;
  font-weight: 600;
}

.logo_icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.logo_icons_item {
  font-size: 1.3rem;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .hero_png {
    display: none;
  }

  .hero_title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 2rem 0 2rem;
  }

  .hero_title_logo {
    font-size: 2.5rem;
  }
  .hero_flex {
    align-items: center;
  }
  .hero_details {
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }
  .css-xfwsqs-MuiButtonBase-root-MuiButton-root {
    margin-left: 23.5% !important;
  }
  .information_subtitle {
    margin-top: 6rem;
  }

  .toggle_btns {
    margin-left: 0;
  }
  .hero_title_par {
    font-size: 1rem;
    max-width: 3000px;
    font-weight: 400;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .logo_icons {
    justify-content: center;
  }
  .css-1rlr8yu-MuiButtonBase-root-MuiButton-root {
    margin-left: 2rem !important;
  }
  .css-1lpljoe-MuiCircularProgress-root {
    margin-left: 3rem !important;
  }

  .information_section {
    padding-bottom: 50rem;
  }

  .css-112nre2 {
    margin-left: 25% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero_png {
    display: none;
  }

  .hero_title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 2rem 0 2rem;
  }

  .hero_title_logo {
    font-size: 4rem;
  }
  .hero_flex {
    align-items: center;
  }
  .hero_details {
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }
  .css-xfwsqs-MuiButtonBase-root-MuiButton-root {
    margin-left: 23.5% !important;
  }
  .information_subtitle {
    margin-top: 6rem;
  }

  .toggle_btns {
    margin-left: 0;
  }
  .hero_title_par {
    font-size: 2rem;
    max-width: 3000px;
    font-weight: 400;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .logo_icons {
    justify-content: center;
  }
  .css-1rlr8yu-MuiButtonBase-root-MuiButton-root {
    margin-left: 2rem !important;
  }
  .css-1lpljoe-MuiCircularProgress-root {
    margin-left: 3rem !important;
  }

  .information_section {
    padding-bottom: 50rem;
  }

  .css-xfwsqs-MuiButtonBase-root-MuiButton-root {
    margin-left: 38% !important;
  }
}
